* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font: 14px/1.3 system-ui, -apple-system, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.nav {
  padding: 10x;
}

.nav ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.nav ul li {
  padding: 10px;
  display: inline-block;
}

.nav ul li a {
  color: #333;
  cursor: pointer;
  text-decoration: underline;
}

.page {
  padding: 10px;
}
